uri_local = 'postgresql://postgres:postgres@localhost/golf'

In [6]:
import sqlalchemy
from sqlalchemy import create_engine
import psycopg2

uri_local = 'postgresql://postgres:postgres@localhost/golf'
engine = create_engine(uri_heroku)

In [13]:
import sqlalchemy
from sqlalchemy import create_engine
import psycopg2
import pandas as pd

USER = 'username_db_demo'
PASSWORD = 'CsEAyYZoS9xztPm5GFGd'
PORT = '5432'
HOST = 'database-1.cowuzsvpx5fl.eu-west-3.rds.amazonaws.com'

uri_aws = 'postgresql://'+USER+':'+PASSWORD+'@'+HOST+'/postgres'

engine = create_engine(uri_aws)
print (engine.table_names())

['todos']

In [14]:
query = """
CREATE TABLE COMPANY(
   ID INT PRIMARY KEY     NOT NULL,
   NAME           TEXT    NOT NULL,
   AGE            INT     NOT NULL,
   ADDRESS        CHAR(50),
   SALARY         REAL
);
"""
q = engine.execute(query)

In [2]:
print (uri_aws)

postgresql://postgres:h5mOqOUQBOn1EwN7lJcC@database-1.cowuzsvpx5fl.eu-west-3.rds.amazonaws.com/postgres

In [5]:
query = """SELECT * FROM todos"""
q = engine.execute(query)

In [15]:
df = pd.read_sql_query('SELECT * FROM todos', engine)
df

   id   task   done
0   1   tets   True
1   3  test2  False