id : postgres
mdp : h5mOqOUQBOn1EwN7lJcC
host : database-1.cowuzsvpx5fl.eu-west-3.rds.amazonaws.com
port : 5432

uri_local = 'postgresql://postgres:postgres@localhost/golf'

In [6]:
import sqlalchemy
from sqlalchemy import create_engine
import psycopg2

uri_heroku = 'postgres://xqxivcvfqbkdky:5870e58c344ab0e9a9be856f0189487647e551766994591070b83bc4dae4b432@ec2-54-220-229-215.eu-west-1.compute.amazonaws.com:5432/d7mhv4lafijoeq'
uri_local = 'postgresql://postgres:postgres@localhost/golf'
engine = create_engine(uri_heroku)

In [10]:
import sqlalchemy
from sqlalchemy import create_engine
import psycopg2
import pandas as pd

USER = 'postgres'
PASSWORD = 'h5mOqOUQBOn1EwN7lJcC'
PORT = '5432'
HOST = 'database-1.cowuzsvpx5fl.eu-west-3.rds.amazonaws.com'
DBNAME = 'database-1'

uri_aws = 'postgresql://'+USER+':'+PASSWORD+'@'+HOST+'/'+USER

engine = create_engine(uri_aws)
print (engine.table_names())

['company', 'todos']

In [14]:
query = """
CREATE TABLE COMPANY(
   ID INT PRIMARY KEY     NOT NULL,
   NAME           TEXT    NOT NULL,
   AGE            INT     NOT NULL,
   ADDRESS        CHAR(50),
   SALARY         REAL
);
"""
q = engine.execute(query)

In [2]:
print (uri_aws)

postgresql://postgres:h5mOqOUQBOn1EwN7lJcC@database-1.cowuzsvpx5fl.eu-west-3.rds.amazonaws.com/postgres

In [4]:
query = """
SELECT * FROM todos
"""
q = engine.execute(query)

In [11]:
df = pd.read_sql_query('SELECT * FROM todos', engine)

In [12]:
df

   id  task   done
0   1  test  False